.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.NavbarBrand {
  margin-left: 20px;
}

.body {
  background-color: #EFF0B6;
  font-family: sans-serif;
}

html,
footer {
  background-color: #EFF0B6;
}

.btn.edit-button {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3b8aff;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.delete-button {
  --bs-btn-color: #fff;
  --bs-btn-bg: hsl(354, 85%, 60%);
  --bs-btn-border-color: hsl(354, 70%, 54%);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: hsl(354, 61%, 45%);
  --bs-btn-hover-border-color: hsl(354, 61%, 43%);
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: hsl(354, 61%, 43%);
  --bs-btn-active-border-color: hsl(354, 61%, 40%);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.add-button {
  --bs-btn-color: #fff;
  --bs-btn-bg: hsl(230, 70%, 65%);
  --bs-btn-border-color: hsl(230, 55%, 59%);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: hsl(230, 46%, 50%);
  --bs-btn-hover-border-color: hsl(230, 46%, 48%);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: hsl(230, 46%, 48%);
  --bs-btn-active-border-color: hsl(230, 46%, 45%);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.extra-button {
  --bs-btn-color: white;
  --bs-btn-bg: hsl(124, 76%, 42%);
  --bs-btn-border-color: hsl(124, 61%, 36%);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: hsl(124, 52%, 27%);
  --bs-btn-hover-border-color: hsl(124, 52%, 25%);
  --bs-btn-focus-shadow-rgb: 25, 190, 27;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: hsl(124, 52%, 25%);
  --bs-btn-active-border-color: hsl(124, 52%, 22%);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.back-button {
  --bs-btn-color: white;
  /* --bs-btn-bg: hsl(0, 0%, 45%); */
  --bs-btn-bg: black;
  --bs-btn-border-color: hsl(0, 0%, 26%);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: hsl(0, 0%, 17%);
  --bs-btn-hover-border-color: hsl(0, 0%, 15%);
  --bs-btn-focus-shadow-rgb: 25, 190, 17;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: hsl(0, 0%, 15%);
  --bs-btn-active-border-color: hsl(0, 0%, 12%);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.save-button {
  --bs-btn-color: black;
  --bs-btn-bg: hsl(46, 92%, 56%);
  --bs-btn-border-color: hsl(46, 77%, 50%);
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: hsl(46, 77%, 55%);
  --bs-btn-hover-border-color: hsl(46, 77%, 31%);
  --bs-btn-focus-shadow-rgb: 25, 190, 17;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: hsl(46, 77%, 31%);
  --bs-btn-active-border-color: hsl(46, 77%, 28%);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.datagrid {
  background-color: white;
  margin-top: 10px;
}

.rbc-day-bg {
  background-color: white;
}

.rbc-header {
  background-color: white;
}

span.rbc-btn-group>button {
  background-color: white;
}

.rbc-agenda-view {
  background-color: white;
}

tr>td.stats-cell {
  background-color: white;
  width: 10%;
}

.btn.dashboard-button {
  background-color: white;
}

.modal {
  margin-top: 100px;
}

.footer-image-right {
  margin-top: 40px;
  margin-right: 10px;
  float: right;
}

.footer-image-left {
  margin-top: 40px;
  float: left;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.home-img {
  max-height: 300px;
  border-radius: 30%;
}

@media screen and (max-width: 991px) {
  .modal {
    margin-top: 100px;
  }
}